xml/students.xsd

<?xml version="1.0" encoding="utf8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" >
<xs:element name="students">
    <xs:student>
        <xs:complexType>
              <xs:sequence>
                  <xs:element name="no" type="xs:string" />
                  <xs:element name="name" type="xs:string" />
             </xs:sequence>
        </xs:complexType>
    </xs:student>
</xs:element>
</xs.schema>